<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/main.css" rel="stylesheet" type="text/css"/>
    <title>index</title>
    <script>
        function upload() {
            let user_name = $('#user_name').val()
            let user_img = $('#user_img')[0].files[0]
            let form_data = new FormData()

            form_data.append("user_give", user_name)
            form_data.append("img_give", user_img)

            $.ajax({
                type: "POST",
                url: "/fileupload",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["result"])
                    window.location.reload()
                }
            });
        }
    </script>
</head>
<body>
<div id="container">
    <div id="list">
        <p>제목</p>
        <p>Direction</p>
        <p>미리보기</p>
    </div>

    <div id="book">
        <img src="../static/img/book.png"/>

        <input type="text" id="user_name" placeholder="user name">
        <input type="file" id="user_img">

        <button id="upload" onclick="upload()">
            업로드
        </button>
    </div>

</div>
</body>
</html>